USE [Magazin]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 30.04.2021 9:34:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[Id] [int] NOT NULL,
	[UserDataId] [int] NOT NULL,
 CONSTRAINT [PK_Client] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ListOfOrder]    Script Date: 30.04.2021 9:34:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListOfOrder](
	[OrderId] [int] NOT NULL,
	[ProductsId] [int] NOT NULL,
	[Del] [bit] NULL,
 CONSTRAINT [PK_ListOfOrder] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC,
	[ProductsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 30.04.2021 9:34:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[ClientId] [int] NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 30.04.2021 9:34:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Price] [money] NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserData]    Script Date: 30.04.2021 9:34:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserData](
	[Id] [int] NOT NULL,
	[Surname] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Patronymic] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_UserData] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 30.04.2021 9:34:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[UserDataId] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Client] ([Id], [UserDataId]) VALUES (1, 1)
INSERT [dbo].[Client] ([Id], [UserDataId]) VALUES (2, 2)
INSERT [dbo].[Client] ([Id], [UserDataId]) VALUES (3, 3)
GO
INSERT [dbo].[ListOfOrder] ([OrderId], [ProductsId], [Del]) VALUES (1, 1, NULL)
INSERT [dbo].[ListOfOrder] ([OrderId], [ProductsId], [Del]) VALUES (1, 2, NULL)
INSERT [dbo].[ListOfOrder] ([OrderId], [ProductsId], [Del]) VALUES (1, 3, NULL)
GO
INSERT [dbo].[Order] ([Id], [Name], [ClientId]) VALUES (1, N'order_1', 1)
INSERT [dbo].[Order] ([Id], [Name], [ClientId]) VALUES (2, N'order_2', 2)
INSERT [dbo].[Order] ([Id], [Name], [ClientId]) VALUES (3, N'order_3', 3)
GO
INSERT [dbo].[Products] ([Id], [Name], [Price]) VALUES (1, N'Tea', 13.3700)
INSERT [dbo].[Products] ([Id], [Name], [Price]) VALUES (2, N'Chocolate', 420.6900)
INSERT [dbo].[Products] ([Id], [Name], [Price]) VALUES (3, N'Apple', 14.8800)
GO
INSERT [dbo].[UserData] ([Id], [Surname], [Name], [Patronymic]) VALUES (1, N'Уваров', N'Савелий', N'Игоревич')
INSERT [dbo].[UserData] ([Id], [Surname], [Name], [Patronymic]) VALUES (2, N'Никонов', N'Роберт', N'Максимович')
INSERT [dbo].[UserData] ([Id], [Surname], [Name], [Patronymic]) VALUES (3, N'Кабанов', N'Эльдар', N'Максович')
GO
INSERT [dbo].[Users] ([Id], [Login], [Password], [UserDataId]) VALUES (1, N'LoginPassword', N'Asdcxzaseqw', 4)
INSERT [dbo].[Users] ([Id], [Login], [Password], [UserDataId]) VALUES (2, N'PasswordLogin', N'VZXcasdasdqw', 5)
INSERT [dbo].[Users] ([Id], [Login], [Password], [UserDataId]) VALUES (3, N'Parol', N'45645adSq', 6)
GO
ALTER TABLE [dbo].[ListOfOrder] ADD  DEFAULT ((0)) FOR [Del]
GO
ALTER TABLE [dbo].[Client]  WITH CHECK ADD  CONSTRAINT [FK_Client_UserData] FOREIGN KEY([UserDataId])
REFERENCES [dbo].[UserData] ([Id])
GO
ALTER TABLE [dbo].[Client] CHECK CONSTRAINT [FK_Client_UserData]
GO
ALTER TABLE [dbo].[ListOfOrder]  WITH CHECK ADD  CONSTRAINT [FK_ListOfOrder_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([Id])
GO
ALTER TABLE [dbo].[ListOfOrder] CHECK CONSTRAINT [FK_ListOfOrder_Order]
GO
ALTER TABLE [dbo].[ListOfOrder]  WITH CHECK ADD  CONSTRAINT [FK_ListOfOrder_Products] FOREIGN KEY([ProductsId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[ListOfOrder] CHECK CONSTRAINT [FK_ListOfOrder_Products]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Client] FOREIGN KEY([ClientId])
REFERENCES [dbo].[Client] ([Id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Client]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_UserData] FOREIGN KEY([UserDataId])
REFERENCES [dbo].[UserData] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_UserData]
GO
