USE [Atelier]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 10.05.2021 22:37:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[Id] [int] NOT NULL,
	[Surname] [nvarchar](50) NOT NULL,
	[Firstname] [nvarchar](50) NOT NULL,
	[Patronymic] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
	[DEL] [bit] NULL,
 CONSTRAINT [PK_Client] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Color]    Script Date: 10.05.2021 22:37:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Color](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[DEL] [bit] NULL,
 CONSTRAINT [PK_Color] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ColorMaterial]    Script Date: 10.05.2021 22:37:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ColorMaterial](
	[IdMaterial] [int] NOT NULL,
	[IdColor] [int] NOT NULL,
	[DEL] [bit] NULL,
 CONSTRAINT [PK_ColorMaterial] PRIMARY KEY CLUSTERED 
(
	[IdMaterial] ASC,
	[IdColor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Material]    Script Date: 10.05.2021 22:37:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Material](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[DEL] [bit] NULL,
 CONSTRAINT [PK_Material] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 10.05.2021 22:37:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] NOT NULL,
	[IdProduct] [int] NOT NULL,
	[IdClient] [int] NOT NULL,
	[DataOrder] [date] NOT NULL,
	[DateExpiration] [date] NOT NULL,
	[DEL] [bit] NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 10.05.2021 22:37:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[IdType] [int] NOT NULL,
	[IdMaterial] [int] NOT NULL,
	[Price] [money] NOT NULL,
	[DEL] [bit] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Type]    Script Date: 10.05.2021 22:37:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type](
	[Id] [int] NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[DEL] [bit] NULL,
 CONSTRAINT [PK_Type] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Client] ([Id], [Surname], [Firstname], [Patronymic], [Address], [DEL]) VALUES (1, N'Смирнов', N'Александр', N'Иванович', N'Москва', 0)
INSERT [dbo].[Client] ([Id], [Surname], [Firstname], [Patronymic], [Address], [DEL]) VALUES (2, N'Иванов', N'Максим', N'Петрович', N'Майкоп', 0)
INSERT [dbo].[Client] ([Id], [Surname], [Firstname], [Patronymic], [Address], [DEL]) VALUES (3, N'Кузнецова', N'Дарья', N'Николаевна', N'Анапа', 0)
GO
INSERT [dbo].[Color] ([Id], [Name], [DEL]) VALUES (1, N'Белый', 0)
INSERT [dbo].[Color] ([Id], [Name], [DEL]) VALUES (2, N'Красный', 0)
INSERT [dbo].[Color] ([Id], [Name], [DEL]) VALUES (3, N'Чёрный', 0)
GO
INSERT [dbo].[ColorMaterial] ([IdMaterial], [IdColor], [DEL]) VALUES (1, 3, 0)
INSERT [dbo].[ColorMaterial] ([IdMaterial], [IdColor], [DEL]) VALUES (1, 5, 0)
INSERT [dbo].[ColorMaterial] ([IdMaterial], [IdColor], [DEL]) VALUES (2, 1, 0)
GO
INSERT [dbo].[Material] ([Id], [Name], [DEL]) VALUES (1, N'Сукно', 0)
INSERT [dbo].[Material] ([Id], [Name], [DEL]) VALUES (2, N'Кашемир', 0)
INSERT [dbo].[Material] ([Id], [Name], [DEL]) VALUES (3, N'Полиамид', 0)
GO
INSERT [dbo].[Orders] ([Id], [IdProduct], [IdClient], [DataOrder], [DateExpiration], [DEL]) VALUES (1, 4, 1, CAST(N'2020-12-23' AS Date), CAST(N'2021-03-23' AS Date), 0)
INSERT [dbo].[Orders] ([Id], [IdProduct], [IdClient], [DataOrder], [DateExpiration], [DEL]) VALUES (2, 4, 2, CAST(N'2020-12-24' AS Date), CAST(N'2021-04-24' AS Date), 0)
INSERT [dbo].[Orders] ([Id], [IdProduct], [IdClient], [DataOrder], [DateExpiration], [DEL]) VALUES (3, 3, 1, CAST(N'2020-12-25' AS Date), CAST(N'2021-04-25' AS Date), 0)
GO
INSERT [dbo].[Product] ([Id], [Name], [IdType], [IdMaterial], [Price], [DEL]) VALUES (1, N'Блейзер', 1, 4, 12170.0000, 0)
INSERT [dbo].[Product] ([Id], [Name], [IdType], [IdMaterial], [Price], [DEL]) VALUES (2, N'Кардиган', 1, 8, 6170.0000, 0)
INSERT [dbo].[Product] ([Id], [Name], [IdType], [IdMaterial], [Price], [DEL]) VALUES (3, N'Жакет', 1, 9, 9800.0000, 0)
GO
INSERT [dbo].[Type] ([Id], [Type], [DEL]) VALUES (1, N'Пиджак', 0)
INSERT [dbo].[Type] ([Id], [Type], [DEL]) VALUES (2, N'Пальто', 0)
INSERT [dbo].[Type] ([Id], [Type], [DEL]) VALUES (3, N'Курта', 0)
GO
ALTER TABLE [dbo].[Client] ADD  DEFAULT ((0)) FOR [DEL]
GO
ALTER TABLE [dbo].[Color] ADD  DEFAULT ((0)) FOR [DEL]
GO
ALTER TABLE [dbo].[ColorMaterial] ADD  DEFAULT ((0)) FOR [DEL]
GO
ALTER TABLE [dbo].[Material] ADD  DEFAULT ((0)) FOR [DEL]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0)) FOR [DEL]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((0)) FOR [DEL]
GO
ALTER TABLE [dbo].[Type] ADD  DEFAULT ((0)) FOR [DEL]
GO
ALTER TABLE [dbo].[ColorMaterial]  WITH CHECK ADD  CONSTRAINT [FK_ColorMaterial_Color] FOREIGN KEY([IdColor])
REFERENCES [dbo].[Color] ([Id])
GO
ALTER TABLE [dbo].[ColorMaterial] CHECK CONSTRAINT [FK_ColorMaterial_Color]
GO
ALTER TABLE [dbo].[ColorMaterial]  WITH CHECK ADD  CONSTRAINT [FK_ColorMaterial_Material] FOREIGN KEY([IdMaterial])
REFERENCES [dbo].[Material] ([Id])
GO
ALTER TABLE [dbo].[ColorMaterial] CHECK CONSTRAINT [FK_ColorMaterial_Material]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Order_Client] FOREIGN KEY([IdClient])
REFERENCES [dbo].[Client] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Order_Client]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Order_Product] FOREIGN KEY([IdProduct])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Order_Product]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Material] FOREIGN KEY([IdMaterial])
REFERENCES [dbo].[Material] ([Id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Material]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Type] FOREIGN KEY([IdType])
REFERENCES [dbo].[Type] ([Id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Type]
GO
